<header>
  <div class="logo">
    <a href="#" class="home-link">Home</a>
  </div>
  <nav>
    <ul>
      <li><a href="#" class="nav-link">Game Editor</a></li>
      <li><a href="#" class="nav-link">Last Games</a></li>
    </ul>
  </nav>
  <div class="user-section">
    <div class="user-info">
      <a href="#" class="avatar-link">
        <object data="account_circle.svg" height="24" width="24"></object>
      </a>
      <div class="user-dropdown">
        <button class="logout-button">Logout</button>
      </div>
    </div>
    <div class="login-section">
      <button class="login-button" (click)="openLoginForm()">Login</button>
    </div>
  </div>
</header>
<app-auth [visible]="true"/>
