<header>
  <div class="logo">
    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" class="home-link">Home</a>
  </div>
  <nav>
    <ul>
      <li><a href="#" class="nav-link">Game Editor</a></li>
      <li><a routerLink="games" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Last Games</a></li>
    </ul>
  </nav>
  <div class="user-section">
    <div class="user-info" [ngClass]="{hidden: !isAuthenticated(), flex: isAuthenticated()}">
      <a href="#" class="avatar-link">
        <object data="account_circle.svg" height="24" width="24"></object>
        <p>{{getMe()?.username}}</p>
      </a>
      <div class="user-dropdown" >
        <button class="logout-button" (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="login-section"  [ngClass]='{hidden: isAuthenticated(), flex: !isAuthenticated()}' >
      <button class="login-button" (click)="openLoginForm()">Login</button>
    </div>
  </div>
</header>
<app-auth/>
