<div class="login-overlay" [ngClass]="isVisible ? 'visible' : 'hidden'" id="loginFormBackCover" (click)="closeLoginForm()">
  <form class="login-form" id="loginForm" (click)="$event.stopPropagation()" (ngSubmit)="login(username, password)">
    <button type="button" class="icon-close" (click)="closeLoginForm()" aria-label="Закрыть">✕</button>
    <h3>Авторизация</h3>

    <label for="username">Имя пользователя</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" autocomplete="username">

    <label for="password">Пароль</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" autocomplete="current-password">

    <div class="actions">
      <button type="submit" class="primary">Войти</button>
    </div>

    <div class="tg-login-widget">
      <div #script style='{display: none}'>
        <ng-content></ng-content>
      </div>
    </div>
  </form>
</div>
