.game-name {
  text-align: center;
}

.level-header {
  text-align: center;
}
.level-header::before {
  display: inline-block;
  content: "";
  border-top: .1rem solid black;
  width: 100%;
  margin: 0;
  transform: translateY(-1rem);
}

.hint-part {
  display: block;
}

.level-keys {

}
