<h2 class="game-name">{{ getGame().name }}</h2>
<div class="scenario">
  @for (level of getGame().levels; track level.db_id) {
    <h3 class="level-header">Уровень №{{ level.number_in_game! + 1 }} ({{ level.name_id }})</h3>
    <h4 class="level-keys-header">Ключи: </h4>
    <ul class="level-keys">
      @for (key of level.scenario.keys; track key) {
        <li class="level-key">{{ key }}</li>
      }
    </ul>
    <h4 class="hints-header">Подсказки:</h4>
    <ul class="hints">
      @for (timeHint of level.scenario.time_hints; track timeHint.time) {
        <li>
          <h5 class="hint-header">Подсказка {{ timeHint.time }} мин.</h5>
          @for (hint of timeHint.hint; track hint) {
            @switch (hint.type) {
              @case (HintType.text) {
                <p class="hint-text">{{ hint.text }}</p>
              }
              @case (HintType.gps) {
                <a [href]="'https://maps.yandex.ru/?ll=' + hint.longitude + ',' + hint.latitude + '&z=18'">
                  {{hint.latitude}},{{hint.longitude}}
                </a>
              }
              @case (HintType.venue) {
                <a [href]="'https://maps.yandex.ru/?ll=' + hint.longitude + ',' + hint.latitude + '&z=18'">
                  {{hint.latitude}},{{hint.longitude}}
                </a>
                <p>название: {{hint.title}}</p>
                <p>адресс: {{hint.address}}</p>
              }
              @case (HintType.photo) {
                <img [src]="getFileUrl(hint)"
                     alt="hint content"
                >
              }
              @case (HintType.animation) {
                <video  autoplay>
                  <source [src]="getFileUrl(hint)" type="video/mp4">
                </video>
              }
              @case (HintType.video) {
                <video controls>
                  <source [src]="getFileUrl(hint)" type="video/mp4"/>
                </video>
              }
              @case (HintType.video_note) {
                <video controls>
                  <source [src]="getFileUrl(hint)" type="video/mp4"/>
                </video>
              }
              @case (HintType.audio) {
                <audio controls>
                  <source [src]="getFileUrl(hint)" type="audio/mp4">
                </audio>
              }
              @case (HintType.voice) {
                <audio controls>
                  <source [src]="getFileUrl(hint)" type="audio/ogg">
                </audio>
              }
              @case (HintType.document) {
                <a [href]="getFileUrl(hint)" download>скачать</a>
              }
              @case (HintType.contact) {
                <p>{{hint.phone_number}} {{hint.first_name}} {{hint.last_name}}</p>
              }
              @default {
                <pre>{{JSON.stringify(hint)}}</pre>
              }
            }
          }
        </li>
      }
    </ul>
  }
</div>
