<h2 class="game-name">{{ getGame().name }}</h2>
<details>
  <summary class="game-scn-spoiler">Сценарий игры</summary>
  <div class="scenario">
    @for (level of getGame().levels; track level.db_id) {
      <h3 class="level-header">Уровень №{{ level.number_in_game! + 1 }} ({{ level.name_id }})</h3>
      <h4 class="level-keys-header">Ключи: </h4>
      <ul class="level-keys">
        @for (key of level.scenario.keys; track key) {
          <li class="level-key">{{ key }}</li>
        }
      </ul>
      <h4 class="hints-header">Подсказки:</h4>
      <ul class="hints">
        @for (timeHint of level.scenario.time_hints; track timeHint.time) {
          <li>
            <h5 class="hint-header">Подсказка {{ timeHint.time }} мин.</h5>
            @for (hint of timeHint.hint; track hint) {
              <app-hint-part [hint]="hint" [fileUrl]="getFileUrl(hint)"></app-hint-part>
            }
          </li>
        }
      </ul>
    }
  </div>
</details>
