<h2 class="game-name">{{ getGame().name }}</h2>
<details>
  <summary class="game-scn-spoiler">Сценарий игры</summary>
  <div class="scenario">
    @for (level of getGame().levels; track level.db_id) {
      <h3 class="level-header">Уровень №{{ level.number_in_game! + 1 }} ({{ level.name_id }})</h3>
      <h4 class="level-keys-header">Ключи: </h4>
      <ul class="level-keys">
        @for (key of level.scenario.keys; track key) {
          <li class="level-key">{{ key }}</li>
        }
      </ul>
      <h4 class="hints-header">Подсказки:</h4>
      <ul class="hints">
        @for (timeHint of level.scenario.time_hints; track timeHint.time) {
          <li>
            <h5 class="hint-header">Подсказка {{ timeHint.time }} мин.</h5>
            @for (hint of timeHint.hint; track hint) {
              <app-hint-part [hint]="hint" [fileUrl]="getFileUrl(hint)"></app-hint-part>
            }
          </li>
        }
      </ul>
    }
  </div>
</details>
<details>
  <summary class="game-keys-spoiler">Ключи</summary>
  <div class="keys-log">
    @for (teamKeys of getKeys(); track teamKeys[0]) {
      @if (teamKeys[1].length > 0) {
        <hr>
        <h3>Ключи команды {{teamKeys[1][0].team}}</h3>
        <table>
          <thead class="game-keys-table">
            <tr>
              <th>Тип</th>
              <th>Ключ</th>
              <th>Игрок</th>
              <th>Время</th>
              <th>Уровень</th>
            </tr>
          </thead>
          <tbody>
            @for (key of teamKeys[1]; track key) {
              <tr>
                <!-- {{key.level_number}} -->
                <td>
                  @if (key.is_duplicate) {
                    <span>💤</span>
                  } @else {
                    @switch (key.type_) {
                      @case (KeyType.simple) {
                        <span>✅</span>
                      }
                      @case (KeyType.wrong) {
                        <span>❌</span>
                      }
                      @case (KeyType.bonus) {
                        <span>💰</span>
                      }
                      @default {
                        <span>❔</span>
                      }
                    }
                  }
                </td>
                <td>{{key.text}}</td>
                <td>{{key.player}}</td>
                <td>{{key.at.toLocaleTimeString()}}</td>
                <td>{{key.level_number + 1}}</td>
              </tr>
            }
          </tbody>
        </table>
      }
    }
  </div>
</details>
