<nav class="breadcrumbs" aria-label="Хлебные крошки">
  <ol class="breadcrumbs-list">
    @for (crumb of crumbs; track $index) {
      <li class="breadcrumbs-item">
        @if (!isLast($index)) {
          @if (crumb.link) {
            <a class="breadcrumbs-link" [routerLink]="crumb.link">{{ crumb.label }}</a>
          } @else {
            <span class="breadcrumbs-text">{{ crumb.label }}</span>
          }
        } @else {
          <a class="breadcrumbs-link breadcrumbs-current" href="" aria-current="page" (click)="reloadCurrent($event)">{{ crumb.label }}</a>
        }
        @if (!isLast($index)) {
          <span class="breadcrumbs-sep" aria-hidden="true">/</span>
        }
      </li>
    }
  </ol>
</nav>
