<nav class="breadcrumbs" aria-label="Хлебные крошки">
  <ol class="breadcrumbs-list">
    @for (crumb of crumbs; track $index) {
      <li class="breadcrumbs-item">
        @if (crumb.link && !isLast($index)) {
          <a class="breadcrumbs-link" [routerLink]="crumb.link">{{ crumb.label }}</a>
        } @else {
          <span class="breadcrumbs-current" aria-current="page">{{ crumb.label }}</span>
        }
        @if (!isLast($index)) {
          <span class="breadcrumbs-sep" aria-hidden="true">/</span>
        }
      </li>
    }
  </ol>
</nav>
