<section class="admin-page">
  <h1>Админ-панель</h1>

  <nav class="admin-nav">
    <a routerLink="/admin/players" routerLinkActive="active">Игроки</a>
    <a routerLink="/admin/teams" routerLinkActive="active">Команды</a>
    <a routerLink="/admin/games" routerLinkActive="active">Игры</a>
    <a routerLink="/admin/poll" routerLinkActive="active">Опрос</a>
    <a routerLink="/admin/waivers" routerLinkActive="active">Вейверы</a>
    <a routerLink="/admin/merge/players" routerLinkActive="active">Слияние игроков</a>
    <a routerLink="/admin/merge/teams" routerLinkActive="active">Слияние команд</a>
  </nav>

  <router-outlet/>
</section>
