@if (getVisibleEffects().length > 0) {
  <ul class="effects-list">
    @for (effect of getVisibleEffects(); track $index) {
      <li class="effects-item">
        @for (tag of getEffectTags(effect); track $index) {
          <span class="effect-tag">{{ tag }}</span>
        }
        @if (getEffectHints(effect).length > 0) {
          <ul>
            @for (hint of getEffectHints(effect); track $index) {
              <li class="effect-hint">
                <app-hint-part [hint]="hint" [fileUrl]="getHintFileUrl(hint)"></app-hint-part>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
}
