@if (keys) {
  <details>
    <summary class="game-keys-spoiler">Ключи</summary>
    <div class="keys-log">
      @for (teamKeys of Object.entries(keys); track teamKeys[0]) {
        @if (teamKeys[1].length > 0) {
          <hr>
          <h3>Ключи команды {{ teamKeys[1][0].team.name }}</h3>
          <div class="table-wrap">
            <table>
              <thead class="game-keys-table">
              <tr>
                <th>Тип</th>
                <th>Ключ</th>
                <th>Игрок</th>
                <th>Время</th>
                <th>Уровень</th>
              </tr>
              </thead>
              <tbody>
                @for (key of teamKeys[1]; track key) {
                  <tr>
                    <td>
                      @if (key.is_duplicate) {
                        <span>💤</span>
                      } @else {
                        @switch (key.type_) {
                          @case (KeyType.simple) {
                            <span>✅</span>
                          }
                          @case (KeyType.wrong) {
                            <span>❌</span>
                          }
                          @case (KeyType.bonus) {
                            <span>💰</span>
                          }
                          @default {
                            <span>❔</span>
                          }
                        }
                      }
                    </td>
                    <td>{{ key.text }}</td>
                    <td>{{ key.player.name_mention }}</td>
                    <td>{{ toLocal(key.at) }}</td>
                    <td>{{ key.level_number + 1 }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
      }
      <hr>
    </div>
  </details>
}

@if (stat) {
  <details>
    <summary class="game-stat-spoiler">Результаты игры</summary>
    <div class="game-stat">
      @if (Object.keys(stat).length > 0) {
        <div class="table-wrap">
          <table>
            <thead>
            <tr>
              <th>Команда</th>
              @for (header of getLevelHeaders(); track header.number) {
                <th>
                  Уровень {{ header.number }}
                  @if (header.name) {
                    <br>
                    {{ header.name }}
                  }
                </th>
              }
            </tr>
            </thead>
            <tbody>
              @for (results of Object.entries(stat.level_times); track results[0]) {
                @if (results[1].length > 0) {
                  <tr>
                    <td>{{ results[1][0].team.name }}</td>
                    @for (lt of results[1]; track lt.id) {
                      @if (!$first) {
                        <td>{{ toLocal(lt.start_at) }}</td>
                      }
                    }
                  </tr>
                }
              }
            </tbody>
          </table>
        </div>
      }
    </div>
  </details>
}
