@if (keys) {
  <details [attr.open]="openKeys ? '' : null">
    <summary class="game-keys-spoiler">Ключи</summary>
    <div class="keys-log">
      @for (teamKeys of getSortedTeamKeysEntries(); track teamKeys[0]) {
        @if (teamKeys[1].length > 0) {
          <hr>
          <details [attr.open]="shouldOpenTeamKeys(teamKeys[1].length) ? '' : null">
            <summary>Ключи команды {{ teamKeys[1][0].team.name }} ({{ teamKeys[1].length }})</summary>
            <div class="table-wrap">
              <table>
                <thead class="game-keys-table">
                <tr>
                  <th>Тип</th>
                  <th>Ключ</th>
                  <th>Игрок</th>
                  <th>Время</th>
                  <th class="level-column">Уровень</th>
                </tr>
                </thead>
                <tbody>
                  @for (key of teamKeys[1]; track key) {
                    <tr>
                      <td>
                        @if (key.is_duplicate) {
                          <span>💤</span>
                        } @else {
                          @switch (key.type_) {
                            @case (KeyType.simple) {
                              <span>✅</span>
                            }
                            @case (KeyType.wrong) {
                              <span>❌</span>
                            }
                            @case (KeyType.bonus) {
                              <span>💰</span>
                            }
                            @default {
                              <span>❔</span>
                            }
                          }
                        }
                      </td>
                      <td>{{ key.text }}</td>
                      <td>{{ key.player.name_mention }}</td>
                      <td>{{ toLocal(key.at) }}</td>
                      <td class="level-column">{{ key.level_number + 1 }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </details>
        }
      }
      <hr>
    </div>
  </details>
}

@if (stat) {
  <details [attr.open]="openStat ? '' : null">
    <summary class="game-stat-spoiler">Результаты игры</summary>
    <div class="game-stat">
      @if (Object.keys(stat).length > 0) {
        <div class="table-wrap">
          <table>
            <thead>
            <tr>
              <th class="stat-level-column">№</th>
              <th>Команда</th>
              <th>Время на уровне</th>
            </tr>
            </thead>
            <tbody>
              @for (results of getSortedStatEntries(); track results[0]) {
                @if (results[1].length > 0) {
                  <tr>
                    <td class="stat-level-column">{{ getCurrentLevelNumber(results[1]) }}</td>
                    <td>{{ results[1][0].team.name }}</td>
                    <td [title]="getLevelStartedAtTitle(results[1])">{{ getCurrentLevelDuration(results[1]) }}</td>
                  </tr>
                }
              }
            </tbody>
          </table>
        </div>
      }
    </div>
  </details>
}
