/* Importing Roboto font for Material Design */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
$shvatka_green: #4CAF50;

.hidden {
  display: none;
}
.visible {
  display: unset;
}
.flex {
  display: flex;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
