<div class="scenario">
  @for (level of game.levels; track level.db_id) {
    <section class="level-card">
      <h3 class="level-header">Уровень №{{ level.number_in_game! + 1 }} ({{ level.name_id }})</h3>
    @if (getScenarioConditions(level).length > 0) {
      @if (getWinKeyCondition(level); as winCondition) {
        <h4 class="level-keys-header">Ключи:</h4>
        <ul class="level-keys">
          @for (key of getConditionKeys(winCondition); track key) {
            <li class="level-key">{{ key }}</li>
          }
        </ul>
      }

      @if (getEffectsKeyConditions(level).length > 0) {
        <h4 class="level-keys-header">Ключи с эффектами:</h4>
        <ul class="level-effects-list">
          @for (condition of getEffectsKeyConditions(level); track 'effects-key:' + $index) {
            <li class="level-effect-item">
              <ul class="level-keys nested-level-keys">
                @for (key of getConditionKeys(condition); track key) {
                  <li class="level-key">{{ key }}</li>
                }
              </ul>
              <app-effects-part [effects]="condition.effects" [gameId]="game.id"></app-effects-part>
            </li>
          }
        </ul>
      }

      @if (getEffectsTimerConditions(level).length > 0) {
        <h4 class="level-keys-header">Таймерные эффекты:</h4>
        <ul class="level-effects-list">
          @for (condition of getEffectsTimerConditions(level); track 'effects-timer:' + $index) {
            <li class="level-effect-item">
              @if (getTimerActionTime(condition); as actionTime) {
                <strong>{{ actionTime }} мин.</strong>
              }
              <app-effects-part [effects]="condition.effects" [gameId]="game.id"></app-effects-part>
            </li>
          }
        </ul>
      }
    }
    <h4 class="hints-header">Подсказки:</h4>
    <ul class="hints">
      @for (timeHint of level.scenario.time_hints; track timeHint.time) {
        <li class="hint-item">
          <h5 class="hint-header">Подсказка {{ timeHint.time }} мин.</h5>
          @for (hint of timeHint.hint; track hint) {
            <app-hint-part [hint]="hint" [gameId]="game.id"></app-hint-part>
          }
        </li>
      }
    </ul>
    </section>
  }
</div>
